<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="conectionString" connectionString="Data Source=WRSILVA\SQLEXPRESS;Initial Catalog=BibliotecaJogos;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>